# Python EinfÃ¼hrung
## Erste Anweisung

In [80]:
print("Hello World")

Hello World

In [81]:
# Das ist ein Kommentar
print ("Something")

Something

In [82]:
name = "Lovelace"

In [83]:
print(name)

Lovelace

In [84]:
age = 73
print(age)

73

In [85]:
size = 1.7123
print(age)

73

In [86]:
alter = "73"

In [87]:
type(age)

int

In [88]:
type(alter)

str

In [89]:
type(size)

float

In [90]:
age + size

74.7123

In [91]:
alter + alter

'7373'

In [92]:
alter

'73'

In [93]:
str(alter)

'73'

In [94]:
age + int(alter)

146

In [95]:
knows_math = True
print(knows_math)
likes_slacking = False
print(likes_slacking)

True
False

In [96]:
age * 100

7300

In [97]:
age / 100

0.73

In [98]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [99]:
type(age)

int

In [100]:
len(name)

8

In [101]:
name

'Lovelace'

In [102]:
name.upper()

'LOVELACE'

In [103]:
name

'Lovelace'

In [104]:
name_capital = name.upper()
print(name_capital)

LOVELACE

In [105]:
name.count("e")

2

In [106]:
name.count("l")

1

In [107]:
name.count("L")

1

In [108]:
name.replace("lace", " is everywhere")

'Love is everywhere'

In [109]:
name.replace?

In [110]:
print?

## Container: Listen und Dictionaries

In [111]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [112]:
names[2]

'Curie'

In [113]:
names[2]

'Curie'

In [114]:
names[2]

'Curie'

In [115]:
names[0]

'Lovelace'

In [116]:
names[3]

'Hawking'

In [117]:
names[0:3]

['Lovelace', 'Darwin', 'Curie']

In [118]:
names[0:2]

['Lovelace', 'Darwin']

In [119]:
names[:3]

['Lovelace', 'Darwin', 'Curie']

In [120]:
names[-1]

'Hawking'

In [121]:
%who

age	 alter	 knows_math	 likes_slacking	 lokes_slacking	 name	 name_capital	 names	 size

In [122]:
authors_and_birth_years = {"Lovelace": 1882, "Darwin": 1809, "Noether": 1942}

In [123]:
authors_and_birth_years["Darwin"]

1809

## Loops

In [124]:
for name in names:
    print(name)

Lovelace
Darwin
Curie
Hawking

In [125]:
for name in names:
    print(name + " did awesome stuff.")

Lovelace did awesome stuff.
Darwin did awesome stuff.
Curie did awesome stuff.
Hawking did awesome stuff.

In [126]:
for name in names:
    print(name + " did awesome stuff.")
    print("Is a scientist.")

Lovelace did awesome stuff.
Is a scientist.
Darwin did awesome stuff.
Is a scientist.
Curie did awesome stuff.
Is a scientist.
Hawking did awesome stuff.
Is a scientist.

In [127]:
for name in names:
    print(name + " did awesome stuff.")
print("Is a scientist.")

Lovelace did awesome stuff.
Darwin did awesome stuff.
Curie did awesome stuff.
Hawking did awesome stuff.
Is a scientist.

## Bedingte Anweisungen (Conditionals)

In [128]:
temp = 20
if temp > 15:
    print("It's warm")

It's warm

In [129]:
20 > 15

True

In [130]:
20 > 70

False

In [132]:
temp = 10
if temp > 15:
    print ("It's warm")
else: 
    print ("It's cold")

It's cold

In [133]:
temp = 10
if temp > 25:
    print ("It's hot")
elif temp > 15:
    print ("It's warm")
else: 
    print ("It's cold")

It's cold

In [134]:
temp = 18
if temp > 25:
    print ("It's hot")
elif temp > 15:
    print ("It's warm")
else: 
    print ("It's cold")

It's warm

In [135]:
temp = 40
if temp > 25:
    print ("It's hot")
elif temp > 15:
    print ("It's warm")
else: 
    print ("It's cold")

It's hot

In [136]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [138]:
for name in names:
   print(len(name))

8
6
5
7

In [139]:
for name in names:
    if len(name) > 5:
        print(name)

Lovelace
Darwin
Hawking